@font-face {
    font-family: 'Jeju Myeongjo';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuMyeongjo/JejuMyeongjo.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuMyeongjo/JejuMyeongjo.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuMyeongjo/JejuMyeongjo.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JejuMyeongjo/JejuMyeongjo.ttf') format('truetype');
}
